.input-section {
  display: grid;
  gap: 2rem;

  min-width: min(80%, 600px);
}

.input-section section h2 {
  background-color: steelblue;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

form {
  display: grid;
  gap: 1rem;
  padding-block: 10px;
  background-color: lightsteelblue;
  /*border: 1px solid slategray;*/
}

form label {
  display: grid;
  padding-inline: 10px;
}

form input {
  padding: 5px 10px;
  border-radius: 5px;
}
