.input-section {
  display: grid;
  gap: 2rem;

  min-width: min(80%, 600px);
}

.input-section section .input-header {
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

.input-section section .input-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: aliceblue;
}

form {
  display: grid;
  gap: 1rem;
  padding: 30px 20px;
  background-color: lightsteelblue;
  border-radius: 0 0 5px 5px;
}

form label {
  display: grid;
  padding-inline: 10px;
}

form input {
  padding: 5px 10px;
  border-radius: 5px;
}
